<!DOCTYPE html>
<html>
    <head>
        <title>テストアプリ</title>
        <script>
            const updateLux = async(url, element) => {
                const sensorData = await fetch(url).then(response => response.text())
                const target = document.getElementById(element)
                target.innerHTML = `<h2>${sensorData}</h2>`
            }
        </script>
        <!--

        <script type="text/javascript">
            function reminder() {
            
                var form = document.createElement("form");
                form.setAttribute("action", "/remind");
                form.setAttribute("method", "post");
                form.setAttribute("target", "hiddeniframe");
                form.style.display = "none";
                document.body.appendChild(form);

                var input;
                input = document.createElement("input")
                input.setAttribute("type", "hidden");
                input.setAttribute("name", "firstlen");
                input.setAttribute("value", "EMERGENCY!!");
                form.appendChild(input);

                input = document.createElement("input")
                input.setAttribute("type", "hidden");
                input.setAttribute("name", "secondlen");
                input.setAttribute("value", "Hurry! Come on!");
                form.appendChild(input);

                form.submit();
                
            }
        </script>
        -->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>
        $(function(){
            // RaspberryPiへ10005番ポートで接続
            var ws = new WebSocket("ws://raspberrypi.local:10005/");
            // サーバーからのメッセージ受信時のイベント
            ws.onmessage = function(message){
                $('textarea').val($('textarea').val() + message.data + '\n')
            }
            setTimeout(function(){
                // サーバーへメッセージ送信
                let formElements = document.forms.ahaha;
                ws.send(formElements.message.value);
            }, 6000)
        })
        </script>
    </head>
    <body onload="updateLux('/lux', 'data')">
        <h1>トイレモニター</h1>

        <center>
            <div id="data">test</div>
            <input type="button" value="更新" onclick="updateLux('/lux', 'data')"><br>
        </center>
        <center>
            <div id="alpha">test2</div>
            <form name="ahaha" action="/remind" method="POST">
            <input type="text" name="message"><input type="submit" value="催促"><br>

            </form>
            
        </center>
    </body>
</html>